// font size
$font-size-XII: 0.75rem;
$font-size-XIV: 0.875rem;
$font-size-XVI: 1rem;
$font-size-XVIII: 1.125rem;
$font-size-XX: 1.25rem;
$font-size-XXIV: 1.5rem;
$font-size-XLVIII: 3rem;

// font weight
$font-weights: ( "regular": 400, "medium": 500, "medium-high": 600, "bold": 700, "bolder":800);

// line height
$line-height-XII: 0.75rem;
$line-height-XIV: 0.875rem;
$line-height-XVI: 1rem;
$line-height-XVIII: 1.125rem;
$line-height-XXI: 1.3125rem;
$line-height-XXVIII: 1.75rem;
$line-height-XXXII: 2rem;
$line-height-XXXVI: 2.25rem;
$line-height-XLVIII: 3rem;
$line-height-LVI: 3.5rem;
$line-height-LXIV: 4rem;

// font and background colors
$brand-navy: #1E3B92;
$brand-yellow: #FDBE10;
$brand-red: #F65A52;
$link-color: #2445A6;
$neutral-black: #111111;
$neutral-white: #FFFFFF;
$link-dark : #081743;

// container width
$container-width: 105rem;
$container-boxed-width: 81.25rem;





